<div class="buttons-set-container">
  <p class="section-heading">Flight Commands</p>
  <input class="button" id="arm" type="button" value="Arm">
  <input class="button" id="takeoff" type="button" value="Takeoff">
  <div class="checkbox-container">
    <input type="checkbox" name="abort-all-checkbox" id="land" onclick="checkLand(this)" class="custom-checkbox"/>
    <label for="land" class="label">Land</label>
  </div>
  <div class="checkbox-container">
    <input type="checkbox" name="abort-all-checkbox" id="rtl" onclick="checkRtl(this)" class="custom-checkbox"/>
    <label for="rtl" class="label">RTL</label>
  </div>
</div>
