{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'connections/css/connection.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&family=JetBrains+Mono:wght@400;500;600&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" />
  <title>Ground station</title>
  <script src="{% static 'connections/js/gmap.js' %}"></script>
</head>
  <body>
    <div class="page-container grid-template-area">
      {% include 'connections/components/_map_panel.html' %}
      {% include 'connections/components/_row_resizer.html' %}
      {% include 'connections/components/_command_panel.html' %}
      {% include 'connections/components/_log_panel.html' %}
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&callback=gmap.initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
  <script>
    var serverAddress = "{{server_address}}";
  </script>
  <script src="{% static 'connections/js/main.js' %}"></script>
  <script src="{% static 'connections/js/panel-resizer.js' %}" defer></script>

</body>
</html>
